<div class="col-xs-12">
	<table class="table table-responsive">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Email</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>
						<a href="{{ path('st_user.users.view_profile', { id: user.id }) }}">{{ user.username }}</a>
					</td>
					<td>
						{{ user.email }}
					</td>
					<td>
						{% if app.user != user %}
							<a href="{{ path('st_user.users.edit_user', { id: user.id }) }}" class="btn btn-primary">
								<span class="fa fa-pencil"></span> Modifier
							</a>
							<a href="{{ path('st_user.users.delete_user', { id: user.id }) }}" class="btn btn-danger">
								<span class="fa fa-trash"></span> Supprimer
							</a>
						{% else %}
							-
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>