<div class="well">
	<h4>Ajouter un commentaire</h4>
	{{ form_start(form, { action : path('st_snowtricks.trick_comments.add', { trick: comment.trick.id }) }) }}
		<div class="form-group">
	    	{{ form_label(form.content, "Votre commentaire") }}
	    	{{ form_widget(form.content, { 'attr': { 'class': 'form-control' } }) }}
	        {% if form_errors(form.content) %}
	    		<label class="error" for="content">{{ form_errors(form.content) }}</label>
	        {% endif %}
	    </div>
	    <div class="form-group">
	    	<button type="submit" class="btn btn-primary">
				<span>Envoyer</span>
			</button>
	    </div>
	{{ form_end(form) }}
</div>