{% trans_default_domain 'FOSUserBundle' %}
<div class="col-xs-12 title">
    <h2>
        Inscription
    </h2>
</div>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    <div class="col-xs-6">
    	{{ form_row(form.firstname) }}
    </div>

    <div class="col-xs-6">
    	{{ form_row(form.lastname) }}
    </div>

    <div class="col-xs-12">
    	{{ form_row(form.username) }}
    </div>

    <div class="col-xs-12">
    	{{ form_row(form.email) }}
    </div>

    <div class="col-xs-6">
        {{ form_row(form.plainPassword.first) }}
    </div>

    <div class="col-xs-6">
    	{{ form_row(form.plainPassword.second) }}
    </div>

    <div class="col-xs-12">
        <div class="file-container">
        	{{ form_row(form.file) }}
            <div class="droparea">
                <div class="message">
                    <div>
                        <span class="fa fa-picture-o"></span>
                        <p>Glissez-déposez votre photo ici ou cliquez pour la sélectionner</p>
                    </div>
                </div>
                <div class="list-pictures"></div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 text-center">
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary" />
    </div>
{{ form_end(form) }}
