{% extends "STCoreBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} Supprimer la famille {{ family.name }}
{% endblock %}

{% block body %}
	<h2>Supprimer la famille {{ family.name }}</h2>
	<p>
		Attention, cette action est irréversible et entraîne la suppression de toutes les figures associées à cette famille.
	</p>

	<form action="{{ path('st_snowtricks.family_delete', { 'id': family.id, slug: family.slug }) }}" method="post">
        <a href="{{ path('st_snowtricks.family_view', { 'id': family.id, 'slug': family.slug }) }}" class="btn btn-default">
            <span>ANNULER</span>
        </a>
        <button type="submit" class="btn btn-danger">
            <span>SUPPRIMER</span>
        </button>
        {# Generates CSRF token #}
        {{ form_rest(form) }}
    </form>
{% endblock %}