{% extends "STCoreBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} Accueil
{% endblock %}

{% block registerGrip %}
	{% if not app.user %}
		Bienvenue sur le site communautaire pour les inconditionnels de snowboard !<br/>
		<a href="{{ path('fos_user_security_login') }}" class="link">Connectez-vous</a> pour prendre part à cette belle communauté ou inscrivez-vous si ce n'est pas déjà fait !
	{% else %}
		Ça fait plaisir de vous revoir, <b>{{ app.user.username }}</b> !<br/>
		<a href="{{ path('st_snowtricks.trick_add') }}" class="btn-custom btn btn-default">
			<span class="fa fa-plus-circle"></span> Ajouter une figure
		</a>
	{% endif %}	
{% endblock %}

{% block body %}
	{% for family in families %}
		<div class="row">
			<div class="col-xs-12 title">
				<h2>
					<a href="{{ path('st_snowtricks.family_view', { id: family.id, slug: family.slug }) }}">
						# {{ family.name }}
					</a>
				</h2>
				<a href="{{ path('st_snowtricks.family_view', { id: family.id, slug: family.slug }) }}" class="seemore btn btn-primary">
					<span class="fa fa-hand-o-right"></span> Voir tout
				</a>
			</div>
			{% for trick in family.tricks|shuffle|slice(0,4) %}
				{% include "STSnowTricksBundle:Family:trick.template.html.twig" %}
			{% endfor %}
		</div>

		{% if not loop.last %}
			<div class="separator"></div>
		{% endif %}	
	{% else %}
		<p class="text-center">
			Aucun groupe n'existe encore. <a href="{{ path('fos_user_security_login') }}">Connectez-vous</a> pour en créer un !
		</p>
	{% endfor %}
{% endblock %}