{% extends "STCoreBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} Groupes
{% endblock %}

{% block registerGrip %}
	Consulter les groupes, c'est bien. Participer à leur évolution, c'est mieux !<br/>
	Qu'attendez-vous pour vous inscrire ?
{% endblock %}

{% block body %}
	{% include "STCoreBundle:templates:breadcrumbs.html.twig" with { 'links' : {
        'Accueil' : path('st_snowtricks.homepage'),
        'Groupes' : path('st_snowtricks.family_list')
    }} %}

	<div class="row">
		<div class="col-xs-12 title">
			<h2>
				Liste des groupes <small>- {{ count }} groupe{% if count > 1 %}s{% endif %}</small>
			</h2>
			{% if is_granted('ROLE_MEMBER') %}
				<a href="{{ path('st_snowtricks.family_add') }}" class="btn btn-primary">
					<span class="fa fa-plus-circle"></span> Ajouter un groupe
			 	</a>
			 {% endif %}
		</div>
		<div class="col-xs-12">
			<table class="table table-responsive">
				<thead>
					<tr>
						<th>Nom</th>
						<th class="hidden-xs">Nombre de figures</th>
						<th>Options</th>
					</tr>
				</thead>
				<tbody>
					{% for family in families %}
						<tr>
							<td>
								<a href="{{ path('st_snowtricks.family_view', { id: family.id, slug: family.slug }) }}">
									{{ family.name }} <span class="hidden-sm hidden-md hidden-lg">({{ family.tricks|length }})</span>
								</a>
							</td>
							<td class="hidden-xs">{{ family.tricks|length }}</td>
							<td>
								<a href="{{ path('st_snowtricks.family_view', { id: family.id, slug: family.slug }) }}" class="btn btn-primary">
									<span class="fa fa-eye"></span> <span class="hidden-xs">Voir</span>
								</a>
								{% if is_granted('ROLE_MEMBER') %}
									<a href="{{ path('st_snowtricks.family_edit', { id: family.id, slug: family.slug }) }}" class="btn btn-warning">
										<span class="fa fa-pencil"></span> <span class="hidden-xs">Modifier</span>
									</a>
									<a href="{{ path('st_snowtricks.family_delete', { id: family.id, slug: family.slug }) }}" class="btn btn-danger">
										<span class="fa fa-trash"></span> <span class="hidden-xs">Supprimer</span>
									</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}