{% extends "STCoreBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} {{ family.name }}
{% endblock %}

{% block registerGrip %}
	Consulter les figures d'un groupe, c'est bien. Pouvoir y ajouter des figures, c'est mieux !<br/>
	Qu'attendez-vous pour vous inscrire ?
{% endblock %}

{% block body %}
	{% include "STCoreBundle:templates:breadcrumbs.html.twig" with { 'links' : {
        'Accueil' : path('st_snowtricks.homepage'),
        'Groupes' : path('st_snowtricks.family_list'),
        (family.name) : path('st_snowtricks.family_view', { id : family.id, slug : family.slug })
    }} %}

	<div class="row">
		<!-- NAME & OPTIONS -->
		<div class="col-xs-12 title">
			<div>
				<h2>
					# {{ family.name }} <small>- {{ count }} figure{% if count > 1 %}s{% endif %}</small>
				</h2>
			</div>
			{% if is_granted('ROLE_MEMBER') %}
				<div class="options">
					<a href="{{ path('st_snowtricks.trick_add_in', { family: family.slug }) }}" class="btn btn-primary">
					 	<span class="fa fa-plus-circle"></span> Ajouter une figure
					</a>
					<a href="{{ path('st_snowtricks.family_edit', { id: family.id, slug: family.slug }) }}" class="btn btn-primary">
					 	<span class="fa fa-pencil"></span> Modifier
					</a>
					<a href="{{ path('st_snowtricks.family_delete', { id: family.id, slug: family.slug }) }}" class="btn btn-danger">
					 	<span class="fa fa-trash"></span> Supprimer
					</a>
				</div>
			{% endif %}
		</div>

		<!-- DESCRIPTION -->
		<div class="col-xs-12">
			<p class="description">
				{{ family.description|raw|nl2br }}
			</p>
		</div>

		<!-- TRICKS -->
		{% for trick in family.tricks %}
			{% include "STSnowTricksBundle:Family:trick.template.html.twig" %}
		{% endfor %}

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="card incentive">
				<div class="card-header">
					<div class="cover"></div>
					<b>Une figure manque ?</b>
				</div>
				<div class="card-body">
					{% if is_granted('ROLE_MEMBER') %}
						<p>
							Vous souhaitez parler d'une figure qui manque à ce groupe ?<br/>
							Ajoutez-la !
						</p>
						<p class="text-center">
							<a href="{{ path('st_snowtricks.trick_add_in', { family: family.slug }) }}" class="btn btn-primary">
							 	<span class="fa fa-plus-circle"></span> Ajouter une figure
							</a>
						</p>
					{% else %}
						<p>
							Vous devez être connecté(e) pour ajouter une nouvelle figure.
						</p>
						<p class="text-center">
							<a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary">
							 	S'inscrire
							</a>
							<a href="{{ path('fos_user_security_login') }}" class="btn btn-primary">
								Se connecter
							</a>
						</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}