<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>{% block title %}SnowTricks : {% endblock %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,600,300,800,700">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	    {% block stylesheet %}
	    	<link rel="stylesheet" href="{{ asset('build/global.css') }}">
	    {% endblock %}
	</head>
	<body>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
		    <div class="container">
		        <div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand logo" href="{{ path('st_snowtricks.homepage') }}">
						
					</a>
				</div>
		        <div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						{% if is_granted('ROLE_ADMIN') %}
							<li>
								<a href="#">Utilisateurs</a>
							</li>
						{% endif %}
						<li>
							<a href="{{ path('st_snowtricks.family_list') }}">
								Groupes
							</a>
						</li>
						{% if not app.user %}
							<li>
								<a href="{{ path('fos_user_security_login') }}">
									Connexion
								</a>
							</li>
						{% else %}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									{{ app.user.username }} <span class="caret"></span>										
								</a>
					            <ul class="dropdown-menu">
					            	<li><a href="#">Modifier mon profil</a></li>
					                <li><a href="#">Déconnexion</a></li>
				              	</ul>
							</li>
						{% endif %}
					</ul>
				</div>
		    </div>
		</nav>

		{% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="alert alert-{{ type ? type : '' }} alert-dismissible" role="alert">
                	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p>
                    	{{ message }}
                    </p>
                </div>
            {% endfor %}
        {% endfor %}

		{% if not app.user or app.request.get('_route') == 'st_snowtricks.homepage' %}
			<div class="container-fluid coversite">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<p>
								{% block registerGrip %}{% endblock %}
							</p>
							{% if not app.user %}
								<a href="{{ path('fos_user_registration_register') }}" class="btn btn-default">
									<span class="fa fa-snowflake-o"></span> Inscription
								</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endif %}
		<div class="container-fluid">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 content">
						{% block body %}{% endblock %}						
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid footer">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-4">
						<span class="fa fa-copyright"></span> SnowTricks - {{ 'now'|date('Y') }}
					</div>
					<div class="col-xs-12 col-md-4 text-center">
						<h5>Suivez-nous</h5>
						<ul class="list-unstyled list-inline">
							<li>
								<a href="#">
									<span class="fa fa-facebook-square"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-twitter-square"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-google-plus-square"></span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col-xs-12 col-md-4 text-right">
						<h5>Liens</h5>
						<ul class="list-unstyled">
							{% if not app.user %}
								<li>
									<a href="{{ path('fos_user_security_login') }}">Se connecter</a>
								</li>
								<li>
									<a href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
								</li>
							{% endif %}
							<li>
								<a href="{{ path('st_snowtricks.family_list') }}">Groupes</a>
							</li>
							{% if is_granted('ROLE_ADMIN') %}
								<li>
									<a href="">Utilisateurs</a>
								</li>
							{% endif %}
							<li>
								<a href="#">Mentions légales</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		{% block javascript %}
			<script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
		{% endblock %}
	</body>
</html>