{% form_theme form with ['form/bootstrap_override.html.twig'] %}
{{ form_start(form) }}
    
    <!-- NAME -->
	{{ form_row(form.name) }}

    <!-- DESCRIPTION -->
    {{ form_row(form.description) }}

    <!-- FAMILY -->
    {{ form_row(form.family) }}

    <!-- PICTURES -->
    <div class="form-group">
        <div class="file-container">
            {{ form_label(form.pictures, "Photos") }}
            {{ form_widget(form.pictures) }}
            <div class="droparea">
                <div class="message">
                    <div>
                        <span class="fa fa-picture-o"></span>
                        <p>Glissez-déposez les photos ici ou cliquez pour sélectionner les photos</p>
                    </div>
                </div>
                <div class="list-pictures"></div>
            </div>
            {% if form_errors(form.pictures) %}
                <label class="error" for="pictures">{{ form_errors(form.pictures) }}</label>
            {% endif %}
            <div class="pictures">
                {% for picture in trick.pictures %}
                    <div class="picture" style="background-image: url({{ asset(picture.webPath) }})">
                        <div id="trick_remove_picture" class="hidden" data-path="{{ path('st_snowtricks.trick_remove_picture', { trick_id: trick.id, picture_id: picture.id }) }}"></div>
                        <div class="overlay">
                            <span class="fa fa-close"></span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- VIDEOS -->
    <div class="form-group">
        {{ form_label(form.videos, "Vidéos") }} <span class="fa fa-question-circle" id="showHelp"></span>
        <div id="help">
            <p>Retrouvez ci-dessous les liens d'aide pour partager des vidéos à partir des différentes plateformes.</p>
            <ul class="list-unstyled">
                <li>
                    <a href="https://support.google.com/youtube/answer/171780?hl=fr" target="_blank">
                        <span class="fa fa-youtube-play"></span> Partager une vidéo YouTube
                    </a>
                </li>
                <li>
                    <a href="https://help.vimeo.com/hc/fr/articles/229326167-Fonctionnalit%C3%A9s-de-partage" target="_blank">
                        <span class="fa fa-vimeo"></span> Partager une vidéo Vimeo
                    </a>
                </li>
                <li>
                    <a href="http://dailymotion.canalblog.com/archives/2011/02/10/20351553.html" target="_blank">
                        <span class="fa fa-play"></span> Partager une vidéo DailyMotion
                    </a>
                </li>
            </ul>
            <p>La manipulation est relativement la même pour toutes les plateformes...</p>
        </div>
        {{ form_widget(form.videos) }}
        
        {% if form_errors(form.videos) %}
            <label class="error" for="videos">{{ form_errors(form.videos) }}</label>
        {% endif %}
        <div class="collection-add btn btn-default" data-collection="trick_videos">
            <span class="fa fa-plus-circle"></span> Ajouter une vidéo
        </div>
    </div>

    <button type="submit" class="btn btn-primary">
        <span class="fa fa-floppy-o"></span> Enregistrer
	</button>
{{ form_end(form) }}


